.top-container{
    height: 100vh;
    background: linear-gradient(300deg, #9fa9ac, #0cb7eb, #dcec7d);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
h1{
    color: rgb(141, 120, 161);
    font-size: 5.25rem;
    margin-top: 100px;
    text-align: center;
    font-family: "Sacramento", cursive;
}

h2 {
    color: rgb(141, 120, 161);
    font-size: 3.25rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace ;
    padding: 20px;
}

.konoha1{
   height: 100px;
   width: 100px;
   padding: 5px;
}

.konoha2{
    height: 100px;
   width: 100px;
   margin-top: 130px;
   margin-left: 1230px;
}
 
.middle-container {
    margin: 100px 0;
    margin-top: 50px;
} 

.luka{
    height: 250px;
    width: 250px;
    padding: 40px;
    border-radius: 50%;
}

.profile {
    height: 100vph;
    text-align: center;
}

hr {
    border: dotted #2a4b4b 6px;
    border-bottom: none;
    width: 4%;
    margin: 50px auto;
}

.intro {
    color: #2a4b4b;
    font-weight: 500;
    font-style: italic;
    font-size: large;
}

.parent {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}

.TY{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    gap: 20px;
}
.CS{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    gap: 20px;
}

h3{
    color: #2a4b4b;
}
.Resume {
    text-align: center;
    padding: 10px;
}

.Resume {
    background-color: rgb(240, 226, 226);
}

#apple,
#twitter,
#github,
#facebook {
    font-size: 1rem;
    background-color: #18181f
}

.bottom-container{
 text-align: center;
 border-top: 5px;
 gap: 20px;
 background-color: #66bfbf;
}


.facebook, .instagram, .github, .linkdin {
    display: relative;
    width: 50px;
    height: 50px;
    padding: 5px;
}


.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}